table {
  border-collapse: collapse;

  thead {
    color: #fff;
    background-color: #949494;

    th {
      padding: 4px 6px;
    }
  }

  tbody {
    background-color: #f4f4f4;

    td {
      text-align: center;
      padding: 4px 6px;
      border-top: 1px solid #e4e4e4;

      img {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }
    }

    .table-name {
      display: flex;

      img {
        margin-right: 5px;
      }
    }

    .table-position {
      position: relative;
    }

    .position-next {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      color: white;
      background-color: #006ed4;
      border-radius: 10px;
      padding: 2px;

      &:hover {
        + .notice {
          pointer-events: auto;
          opacity: 1;
        }
      }
      &.el {
        background-color: #581b06;
      }
      &.down {
        background-color: #8a0829;
      }
    }

    .notice {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      top: -40px;
      left: -20px;
      padding: 10px;
      background-color: black;
      color: white;
      white-space: nowrap;
      border-radius: 15px;
      transition: all 0.3s linear;
    }


    tr {
      &:first-child {
        .table-name {
          border-top: 0;
        }
      }
    }
  }
}
