.competitions {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
  }
  &__item {
    height: 115px;
    padding: 15px;
    background-color: #f4f4f4;
  }
  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      width: 16px;
      height: 16px;
      border-radius: 12px;
      margin-right: 10px;
    }
    div {
      display: flex;
      color: darkslategray;
      transition: all 0.4s ease;
    }
    &:hover {
      div {
        color: #ffcccc;
      }
    }
  }
}
